<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ImageOptimizer\OptimizerFactory">
        <arguments>
            <argument name="options" xsi:type="array">
                <item name="jpegoptim_options" xsi:type="array">
                    <item name="0" xsi:type="string">--strip-all</item>
                    <item name="1" xsi:type="string">--all-progressive</item>
                    <item name="2" xsi:type="string">--max=80</item>
                </item>
            </argument>
        </arguments>
    </type>

    <preference for="\MageSuite\ImageOptimization\Service\Image\Optimizer"
                type="\MageSuite\ImageOptimization\Service\Image\CommandLine\Optimizer"/>

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="image_optimize" xsi:type="object">MageSuite\Frontend\Console\Command\OptimizeImage</item>
            </argument>
        </arguments>
    </type>
</config>
